@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
  font-family: "Lato", sans-serif;
}

/*html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 0 0 0;
  font-family: "Lato", sans-serif;
}

.page-header {
  display: block;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  width: 100%;
  z-index: 100;
  height: 5rem;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(20, 35, 85, 0.45) 0px 2px 6px 0;
  box-sizing: border-box;
}
.page-header__container {
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color: white;
}
.page-header__left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.page-header__left__logo_1 {
  width: 202px;
  text-decoration: none;
  align-items: center;
}
.page-header__left__logo_1 .slogan {
  display: block;
  color: #020309;
  font-size: 13px;
  font-weight: 550;
  line-height: 11px;
  text-align: right;
  font-family: "Lato", sans-serif;
}
.page-header__left__logo_2 {
  margin-left: 16px;
  display: flex;
}
.page-header__left__logo_2 .logo {
  margin-right: 8px;
  width: 31px;
  height: 51px;
}
.page-header__left__logo_2 .slogan {
  font-weight: 700;
  color: #398b72;
  margin: 0;
  margin-right: 0px;
  display: inline-block;
  width: 120px;
  font-size: 10px;
  line-height: 16px;
}
.page-header__right {
  display: block;
  width: 100%;
  height: 100%;
}
.page-header__right .nav-container {
  align-items: center;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  float: right;
  padding: 13px 0;
  height: 100%;
  list-style: none;
}
.page-header__right .nav-container__item {
  padding: 0 15px;
  font-size: 15px;
  color: #66676c;
  border-left: 1px solid #f6f7f8;
  position: relative;
}

.page-footer__top {
  background: #0071CE;
  display: flex;
  justify-content: center;
}
.page-footer__top .text {
  color: white;
  margin-right: 24px;
  line-height: 45px;
}
.page-footer__top .button {
  box-sizing: border-box;
  background-color: #0071CE;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  padding: 12px 46px;
  border-radius: 4px;
}
.page-footer__top .button:hover {
  background: white;
  color: #0071CE;
  cursor: pointer;
}
.page-footer__bottom {
  display: block;
  width: 100%;
  background-color: #ebecef;
  padding: 48px 0;
}
.page-footer__bottom .navigation {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1240px;
}
.page-footer__bottom .navigation__block {
  flex-basis: calc(25% - 32px);
  margin: 0 16px;
}
.page-footer__bottom .navigation__block .title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #020309;
  margin: 0;
  margin-bottom: 16px;
}
.page-footer__bottom .navigation__block .list {
  list-style: none;
}
.page-footer__bottom .navigation__block .list__element__text {
  font-size: 12px;
  line-height: 14px;
  color: #020309;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 16px;
}

.main {
  background-image: url("../img/banners/bg-flyer.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: white;
  width: 100%;
}
.main__poster-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  margin-top: 20px;
}
.main__poster-block__image {
  box-sizing: border-box;
  max-height: 360px;
  border-radius: 4px;
  margin: 5px;
}
.main__link-list {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  padding-left: 25%;
}
.main__link-list div .title {
  line-height: 26px;
  font-size: 15px;
  font-weight: 600;
  color: #020309;
  margin: 0;
}
.main__link-list div .list {
  padding: 0 0 16px 0;
  margin: 0;
  list-style: none;
}
.main__link-list div .list__element {
  display: inline-block;
  margin-right: 16px;
  height: 24px;
}
.main__link-list div .list__element__link {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: #66676c;
  display: flex;
  position: relative;
}
.main__link-list div .list__element__link:hover {
  text-decoration: none;
}

.grid {
  display: block;
}
.grid__body {
  display: grid;
  grid-gap: 24px 16px;
  grid-template-columns: auto repeat(2, 580px) auto;
  grid-template-rows: 0 560px 720px 0 380px auto;
}
.grid__body__search-menu {
  display: block;
  grid-row: 2;
  grid-column: 2;
}
.grid__body__block-1 {
  display: block;
  grid-row: 3/4;
  grid-column: 2/3;
}
.grid__body__block-2 {
  display: block;
  height: 100%;
  width: 100%;
  grid-row: 3/4;
  grid-column: 3/4;
}
.grid__body__block-2 .block-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid__body__block-3 {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  grid-row: 5/6;
  grid-column: 2/3;
}
.grid__body__block-4 {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  grid-row: 5/6;
  grid-column: 3/4;
}

.search-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.search-menu__header {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: 80px;
  list-style: none;
}
.search-menu__header .wrapper {
  position: relative;
  flex-grow: 1;
}
.search-menu__header .wrapper:first-child .category {
  color: #0071CE;
  fill: #0071CE !important;
}
.search-menu__header .wrapper .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #ffffff;
  color: #66676C;
  fill: #66676C;
}
.search-menu__header .wrapper .icon {
  width: 32px;
  height: 32px;
  margin-bottom: 1px;
}
.search-menu__header .wrapper::after {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(#f6f6f9, #c8c9c9);
  z-index: 1;
}
.search-menu__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;
  border-style: none;
}
.search-menu__form .title {
  display: block;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-weight: 900;
  color: #020309;
  margin: 0;
  margin-bottom: 16px;
}
.search-menu__form .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0 12px;
  width: 100%;
  height: 100%;
}
.search-menu__form .fields .block {
  width: 90%;
  margin-right: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.search-menu__form .fields .block__title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #020309;
  margin: 0;
  margin-bottom: 2px;
}
.search-menu__form .fields .block__field {
  display: flex;
}
.search-menu__form .fields .block__field__input {
  background-color: #ebecef;
  z-index: 10;
  width: 100%;
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  font-family: "Lato", sans-serif;
  color: #66676c;
  border: 1px solid #ebecef;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  margin-right: 5px;
}
.search-menu__form .fields .block__field__input:hover {
  cursor: pointer;
}
.search-menu__form .fields .block__field__input:focus {
  cursor: text;
}
.search-menu__footer {
  margin: 0 0 15px 0;
  display: flex;
  width: 100%;
  align-items: center;
}
.search-menu__footer .settings {
  display: flex;
  color: #020309;
  background-color: white;
  min-height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 43px;
  border-style: none;
  align-items: center;
}
.search-menu__footer .settings__icon {
  height: 30px;
  width: 30px;
}
.search-menu__footer .show {
  display: inline-flex;
  min-height: 40px;
  color: #ffffff;
  align-items: center;
  padding: 10px 30px 8px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background-color: #c82814;
  border: 5px solid #c82814;
  border-radius: 4px;
}
.search-menu__footer .show:hover {
  background: transparent;
  color: #c82814;
}

.product-tile {
  min-width: 33%;
  z-index: 20;
  display: block;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: rgba(20, 35, 85, 0.077) 0px 2px 6px 0;
  margin: 2px;
}
.product-tile__image {
  z-index: 10;
  display: block;
  width: 100%;
  height: 60%;
}
.product-tile__info {
  background-color: #fff;
}
.product-tile__info .info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.product-tile__info .info .first-row {
  margin-bottom: 4px;
  line-height: 38px;
  font-weight: 800;
  color: #020309;
  font-size: 14px;
}
.product-tile__info .info .second-row {
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding: 0;
}
.product-tile__info .info .second-row .item {
  display: inline-block;
  position: relative;
  padding-right: 16px;
  font-size: 14px;
}
.product-tile__info .info .second-row .item::after {
  display: block;
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background: #020309;
  border-radius: 50%;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.product-tile__info .price {
  line-height: 24px;
  font-weight: 800;
  font-size: 22px;
  color: #c82814;
  margin: 0;
}
.product-tile__info .price .current {
  padding-left: 4px;
  font-size: 12px;
  line-height: 20px;
  margin: 3px;
}/*# sourceMappingURL=style.css.map */