@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
  font-family: "Lato", sans-serif;
}

/*html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 0 0 0;
  font-family: "Lato", sans-serif;
}

.page-header {
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  width: 100%;
  z-index: 100;
  height: 5rem;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(20, 35, 85, 0.15) 0px 2px 6px 0;
  box-sizing: border-box;
}
.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  background-color: white;
}
.page-header__left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.page-header__left__logo_1 {
  width: 202px;
  text-decoration: none;
  align-items: center;
}
.page-header__left__logo_1 .slogan {
  display: block;
  color: #020309;
  font-size: 13px;
  font-weight: 550;
  line-height: 11px;
  text-align: right;
  font-family: "Lato", sans-serif;
}
.page-header__left__logo_2 {
  margin-left: 16px;
  display: flex;
}
.page-header__left__logo_2 .logo {
  margin-right: 8px;
  width: 31px;
  height: 51px;
}
.page-header__left__logo_2 .slogan {
  font-weight: 700;
  color: #398b72;
  margin: 0;
  margin-right: 0px;
  display: inline-block;
  width: 120px;
  font-size: 10px;
  line-height: 16px;
}

.page-footer__top {
  background: #0071CE;
  display: flex;
  justify-content: center;
}
.page-footer__top .text {
  color: white;
  margin-right: 24px;
  line-height: 45px;
}
.page-footer__top .button {
  box-sizing: border-box;
  background-color: #0071CE;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  padding: 12px 46px;
  border-radius: 4px;
}
.page-footer__top .button:hover {
  background: white;
  color: #0071CE;
  cursor: pointer;
}

.main {
  background-image: url("../img/banners/bg-flyer.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: white;
  width: 100%;
}
.main__poster-block {
  display: block;
  padding: 16px;
}
.main__poster-block__image {
  box-sizing: border-box;
  max-height: 360px;
  border-radius: 4px;
  margin: 5px;
}
.main__link-list {
  display: block;
  padding: 0 8px;
}
.main__link-list div .title {
  line-height: 26px;
  font-size: 12px;
  font-weight: 600;
  color: #020309;
  margin: 0;
}
.main__link-list div .list {
  padding: 0 0 16px 0;
  margin: 0;
  list-style: none;
}
.main__link-list div .list__element {
  display: inline-block;
  margin-right: 16px;
  height: 24px;
}
.main__link-list div .list__element__link {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #66676c;
  display: flex;
  position: relative;
}
.main__link-list div .list__element__link:hover {
  text-decoration: none;
}

.grid {
  display: block;
}
.grid__body {
  display: grid;
  grid-gap: 24px 16px;
  grid-template-columns: auto repeat(2, 580px) auto;
  grid-template-rows: 0 560px repeat(2, 100px) auto;
}
.grid__body__search-menu {
  display: block;
  grid-row: 2;
  grid-column: 2;
}

.search-menu {
  display: flex;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */